body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            margin: 90px;
            padding: 0;
        }
h1      {
            text-align: center; 
            margin-top: 20px;
}

#presentation {
            text-align: center; 
            margin-top: 20px;
}

.container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            padding: 20px;
        }
.card {
            width: 200px;
            border: 2px solid #ccc;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            text-align: center;
            cursor: pointer;
        }
.card img {
            width: 100%;
            height: auto;
        }
.card h3 {
            margin: 10px 0;
            font-size: 1.2em;
            color: #333;
        }


.hidden {
    display: none;
}






.detail {
            margin: 20px auto;
            width: 80%;
            max-width: 500px;
            border: 2px solid #ccc;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            padding: 20px;
            text-align: center;
        }
.detail img {
            width: 100%;
            height: auto;
            border-radius: 10px;
        }
.detail h3 {
            margin: 10px 0;
            font-size: 1.5em;
            color: #333;
        }
.detail p {
            font-size: 1em;
            color: #666;
        }


        .close-detail {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}